logo {
  grid-area: logo;
  background-color: black;
}

headline {
  grid-area: headline;
  background-color: black ;
  color: white;
  text-align: center;
}

headline > p {
  margin: 0px;
  font-size: 4.5em;
}
  

header {
  grid-area: header;
  background-color: black;
  color: white;
}

entry-list{
  grid-area: entry-list;
  background-color: black;
  color: white
}

entry_list li,a {
  color: white;
}

entry{
  grid-area: entry;
  background-color: lightgray;
}

footer{
  grid-area: footer;
  background-color:black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr 6fr;
    grid-template-rows: 165px 19fr 1fr;
    grid-template-areas:
        'logo headline header'
        'entry-list entry entry'
        'footer footer footer';
    grid-gap: 0px;
    height: 125vh;
    width: 100vw;
    padding: 2px;
    margin: 0 auto;
    background-color: black;
}

logo img {
  display: block;
  text-align: center;
  height: 100%;
}

header img {
  height: 100%;
}

header > div {
  display: block;
  text-align: center;
}


